<!-- <div class="container"> -->
<mat-toolbar color="primary">
  <mat-toolbar-row style="padding: 0px;">
    <div class="top-bar">
      <a [routerLink]="['/dashboard']">
        <h1>My Store</h1>
      </a>
      <button id="button-logout" mat-button (click)="logout()" class="logout">Log Out</button>
      <a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<!-- <div class="container"> -->
  <h2>List of Products</h2>
  <div *ngFor="let product of products;index as productId">
    <div *ngIf="product">
      <h3> <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
          {{ product.name }}
        </a></h3>
      <p *ngIf="product.description">
        Description: {{ product.description }}
      </p>
      <button (click)="share()">
        Share
      </button>
      <app-product-alerts [product]="product" (notify)="onNotify()">
      </app-product-alerts>
    </div>
  </div>
<!-- </div> -->